<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>150010817728-9kih4t9bi3prhmhtdd45vbut6agfm5uo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.150010817728-9kih4t9bi3prhmhtdd45vbut6agfm5uo</string>
	<key>API_KEY</key>
	<string>AIzaSyARMeKzuVE3t0Ciz-FeHHHUqy_BVkGJtxs</string>
	<key>GCM_SENDER_ID</key>
	<string>150010817728</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.bookstorage.cordovaview</string>
	<key>PROJECT_ID</key>
	<string>bookstorage-169606</string>
	<key>STORAGE_BUCKET</key>
	<string>bookstorage-169606.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:150010817728:ios:2ad1d7fe57b9f730</string>
	<key>DATABASE_URL</key>
	<string>https://bookstorage-169606.firebaseio.com</string>
</dict>
</plist>